.banner {
    background-image: url('./bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    
    display: flex;
    align-items: center;      
    justify-content: center;
}

.custom-navbar {
    background-color: #1a2744 ;
}
.custom-navbar .nav-link {
    color: white ;
}

.logo-icon a {
    margin-right: 8px;
}
.skill {
    background-image: url('./bg.webp');
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100vh;        
    padding: 80px 0; 
}

.background-image-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
}

.skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
}